@charset "UTF-8";
@media (prefers-color-scheme: dark) {
    :root {
        background-color: black;
        color: white;
    }
    h2 {
        color: lightsteelblue;
    }
    :link {
        color: white;
    }
    :visited {
        color: white;
    }
}
@media (prefers-color-scheme: light) {
    :root {
        background-color: white;
        color: black;
    }
    h2 {
        color: steelblue;
    }
    :link {
        color: black;
    }
    :visited {
        color: black;
    }
}
body {
    font-family: "游教科書体 横用";
}
