@import "https://fonts.googleapis.com/css?family=Open+Sans";

@media (prefers-color-scheme: dark) {
    :root {
        background-color: black;
    }
    h1 {
        color: white;
    }
    h2 {
        color: lightgray;
    }
    li {
        color: lightsteelblue;
    }
    a:link {
        color: white;
    }
    a:visited { 
        color: lightsteelblue;
    }
}

body {
    font-family: "Open Sans", sans-serif;
}
